<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавление пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => Close()"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput">
                    <label for="floatingInput">Фамилия</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput">
                    <label for="floatingInput">Имя</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput">
                    <label for="floatingInput">Отчество</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingInput">
                    <label for="floatingInput">Логин</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-3" id="floatingPassword">
                    <label for="floatingPassword">Пароль</label>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Отменить</button>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {


  public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}