@page "/catalogue/simple/{Name}"
@using MedicalStatistician.DAL.Entities.Base
@using MedicalStatistician.DAL.Repositories.Base
@using System.Diagnostics

@inject ICrudRepository<Sex> sexCatalog
@inject ICrudRepository<DisabilityGroup> invalidGroupCatalog
@inject ICrudRepository<PurposeOfReferralForTreatment> purposeTreatmentCatalog
@inject ICrudRepository<WhoSentToHospital> whoSentToHospitalCatalog
@inject ICrudRepository<SourceOfLivelihood> sourceOfLivelihoodCatalog
@inject ICrudRepository<DiseaseOutcome> diseaseOutcomeCatalog
@inject ICrudRepository<CauseOfDeath> causeOfDeathCatalog
@inject ICrudRepository<Education> educationCatalog
@inject ICrudRepository<ResidenceStatus> residenceStatusCatalog
@inject ICrudRepository<TypeOfForcedTreatment> typeOfForcedTreatmentCatalog
@inject ICrudRepository<PlaceOfDeparture> placeOfDepartureCatalog
@inject ICrudRepository<TypeOfOutpatientCare> typeOfOutpatientCareCatalog
@inject ICrudRepository<OrderOfAdmission> orderOfAdmissionCatalog
@inject ICrudRepository<StatusOfJudgesDecisionUnderArticle35> statusOfJudgesDecisionUnderArticle35Catalog
@inject ICrudRepository<TypeOfJudgment> typeOfJudgmentCatalog
@inject ICrudRepository<PatientEntryRoutes> patientEntryRoutesCatalog
@inject ICrudRepository<Accommodations> accommodationsCatalog
@inject ICrudRepository<SourcesOfPaymentForMedicalCare> sourcesOfPaymentForMedicalCareCatalog


<PageTitle>Справочник</PageTitle>

<h3 class="text-center">@Name</h3>
<p style="height: 20px;"></p>
@switch(Name)
{
    case "Пол": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="Sex" Repository="sexCatalog" />
        break;
    case "Группы инвалидности": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="DisabilityGroup" Repository="invalidGroupCatalog" />
        break;
    case "Цель направления": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="PurposeOfReferralForTreatment" Repository="purposeTreatmentCatalog" />
        break;
    case "Кем направлен": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="WhoSentToHospital" Repository="whoSentToHospitalCatalog" />
        break;
    case "Источник средств существования": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="SourceOfLivelihood" Repository="sourceOfLivelihoodCatalog" />
        break;
    case "Исход заболевания": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="DiseaseOutcome" Repository="diseaseOutcomeCatalog" />
        break;
    case "Причина смерти": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="CauseOfDeath" Repository="causeOfDeathCatalog" />
        break;
    case "Образование": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="Education" Repository="educationCatalog" />
        break;
    case "Статус проживания": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="ResidenceStatus" Repository="residenceStatusCatalog" />
        break;
    case "Виды принудительного лечения": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="TypeOfForcedTreatment" Repository="typeOfForcedTreatmentCatalog" />
        break;
    case "Место выбытия": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="PlaceOfDeparture" Repository="placeOfDepartureCatalog" />
        break;
    case "Вид амбулаторного наблюдения": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="TypeOfOutpatientCare" Repository="typeOfOutpatientCareCatalog" />
        break;
    case "Порядок поступления": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="OrderOfAdmission" Repository="orderOfAdmissionCatalog" />
        break;
    case "Решение судьи по ст 35": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="StatusOfJudgesDecisionUnderArticle35" Repository="statusOfJudgesDecisionUnderArticle35Catalog" />
        break;
    case "В случае окончания принуд лечения": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="TypeOfJudgment" Repository="typeOfJudgmentCatalog" />
        break;
    case "Откуда поступил": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="PatientEntryRoutes" Repository="patientEntryRoutesCatalog" />
        break;
    case "Условия проживания": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="Accommodations" Repository="accommodationsCatalog" />
        break;
    case "Источники оплаты медицинской помощи": <MedicalStatistician.UI.Blazor.Pages.Catalogs.Catalog TCatalog="SourcesOfPaymentForMedicalCare" Repository="sourcesOfPaymentForMedicalCareCatalog" />
        break;
    default:
        break;
}



@code
{
    [Parameter]
    public string Name { get; set; }
}

