@page "/catalogue/simple/{CatalogEntity}"
@using MedicalStatistician.DAL.Entities.Base

<PageTitle>Справочник</PageTitle>

<h3 style="text-align:center;">Пол</h3>
<p style="height:20px"></p>
<div style="text-align:right">
    <button class="btn btn-primary oi oi-plus" ></button>
    <button class="btn btn-primary oi oi-minus" ></button>
</div>  

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CatalogEntity)
           {
               <tr>
                    <td>
                        <input type="search" style="width:100%; border:0; background-color:transparent" @bind="item.Name"/>
                    </td>           
                 </tr>
           }          
        </tbody>

    </table>
</div>
<div style="text-align:right">
    <button class="btn btn-primary" >Сохранить</button>
</div> 


@code
{
    [Parameter]
    public ICollection<NamedEntity> CatalogEntity { get; set; }

}

