@page "/catalogue/simple"

@using MedicalStatistician.DAL.Entities.Base
@using MedicalStatistician.DAL.Repositories.Base
@inject ICrudRepository<DisabilityGroup> sexEntity

<PageTitle>Справочник</PageTitle>

<h3 style="text-align:center;">Пол</h3>
<p style="height:20px"></p>
<div style="text-align:right">
    <button class="btn btn-primary oi oi-plus" ></button>
    <button class="btn btn-primary oi oi-minus" ></button>
</div>  
@if (CatalogEntity is { } sources)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in sources)
                {
                    <tr>
                        <td>
                           @* <input type="search" style="width:100%; border:0; background-color:transparent" @item.Name/>*@
                           @item.Name
                        </td>           
                    </tr>
                }          
            </tbody>

        </table>
    </div>
}
else
{
    <p>Загрузка...</p>
}
<div style="text-align:right">
    <button class="btn btn-primary" >Сохранить</button>
</div> 


@code
{
    private IList<DisabilityGroup> CatalogEntity;

    protected override async Task OnInitializedAsync()
    {
        CatalogEntity = (await sexEntity.GetAllAsync()).ToList();
    }

}

