@page "/catalogue/simple"

<PageTitle>Справочник</PageTitle>

<h3 style="text-align:center;">@dir.Name</h3>
<p style="height:20px"></p>
<div style="text-align:right">
    <button class="btn btn-primary oi oi-plus" @onclick=Add></button>
    <button class="btn btn-primary oi oi-minus" @onclick=Sub></button>
</div>  

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < size; i++)
            {
                 <tr>
                    <td>
                        <input type="search" style="width:100%; border:0; background-color:transparent" @bind-value=dir.collection[i]/>
                    </td>           
                 </tr>
            }
           
        </tbody>

    </table>
</div>
<div style="text-align:right">
    <button class="btn btn-primary" @onclick=Save>Сохранить</button>
</div> 


@code
{
    class SimpleDir
    {
        public String Name;
        public List<String> collection = new List<string>();

        public SimpleDir()
        {
            Name = "Условия проживания";
            collection.Add("собственный дом");
            collection.Add("отдельная квартира");
            collection.Add("коммунальная квартира");
            collection.Add("общежитие");
            collection.Add("БОМЖ");
            collection.Add("прочее");
        }
    }

    SimpleDir dir = new SimpleDir();
    int size = 6;
    //!!! todo вылетает с ошибками
    void Add() { size++; dir.collection.Add(""); }
    void Sub() { size--; dir.collection.RemoveAt(size); }
    void Save() => dir.Name = "Пол)";
}

