@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
<MedicalStatistician.UI.Blazor.Modal.ModalChangePassword @ref=ChangePassword></MedicalStatistician.UI.Blazor.Modal.ModalChangePassword>

<div class="page">
    @if (MyNavigationManager.Uri != MyNavigationManager.BaseUri) // стартовая страница - это логинка
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        @if (MyNavigationManager.Uri != MyNavigationManager.BaseUri)
        {
            <div class="top-row px-4">
                <a style="color:#0071c1" @onclick="() => ChangePassword.Open()">Сменить пароль</a>
                <a href="/">Выйти</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    MedicalStatistician.UI.Blazor.Modal.ModalChangePassword ChangePassword { get; set; }
}
