@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<MedicalStatistician.UI.Blazor.Modal.ModalChangePassword @ref=ChangePassword></MedicalStatistician.UI.Blazor.Modal.ModalChangePassword>

@*<AuthorizeView>*@
    <div class="page">

        <div class="sidebar">
            <NavMenu />
        </div>


        <main>
            <div class="top-row px-4">
                <a style="color:#0071c1" @onclick="() => ChangePassword.Open()">Сменить пароль</a>
                <a href="/login">Выйти</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
@*</AuthorizeView>*@

@code {
    MedicalStatistician.UI.Blazor.Modal.ModalChangePassword ChangePassword { get; set; }

    //[CascadingParameter]
    //public Task<AuthenticationState> AuthenticationState { get; set; }

    //protected override async Task OnParametersSetAsync()
    //{
    //    var user = (await AuthenticationState).User;
    //    if(!user.Identity.IsAuthenticated)
    //    {
            
    //        NavigationManager.NavigateTo("login");
    //    }
    //}
}
