@page "/sexCatalog"

<PageTitle>Справочник "Пол"</PageTitle>

<h3 style="text-align:center;">Пол</h3>
<p style="height:20px"></p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="search" style="width:100%; border:0; background-color:transparent" value="мужской"/>
                </td>           
            </tr>
            <tr>
                <td>
                    <input type="search" style="width:100%; border:0; background-color:transparent" value="женский"/>
                </td>
            </tr>
        </tbody>

    </table>
</div>


@code {

}
