@page "/catalogue"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize] 

<PageTitle>Справочники</PageTitle>

<h1 class="title">Справочники</h1>
<div class="divider"></div>

<section>
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Пол'">Пол</button>
        </div>
        <div class=col>
                <button class="item">Житель</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Источники оплаты медицинской помощи'">Источники оплаты медицинской помощи</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Кем направлен'">Кем направлен</button>
        </div>


        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Порядок поступления'">Порядок поступления</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Решение судьи по ст 35'">Решение судьи по ст.35</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Откуда поступил'">Откуда поступил</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Цель направления'">Цель направления</button>
        </div>


        <div class=col>
                <button class="item" onclick="location.href='catalogue/MKB'">МКБ</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Группы инвалидности'">Группы инвалидности</button>
        </div>

        <div class=col>
                <button class="item">Обследование на ВИЧ</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Место выбытия'">Место выбытия</button>
        </div>      
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Причина смерти'">Причина смерти</button>
        </div>
        <div class=col>
                <button class="item"  onclick="location.href='catalogue/simple/Виды принудительного лечения'">Виды принудительного лечения</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/В случае окончания принуд лечения'">В случае окончания принуд. лечения</button>
        </div>

        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Вид амбулаторного наблюдения'">Вид амбулаторного наблюдения</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Образование'">Образование</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Источник средств существования'">Источник средств существования</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Статус проживания'">Статус проживания</button>
        </div>

        <div class=col>
                <button class="item"  onclick="location.href='catalogue/simple/Условия проживания'">Условия проживания</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Исход заболевания'">Исход заболевания</button>
        </div>
    </div>
</section>

<Footer></Footer>
