@page "/catalogue"

<PageTitle>Справочники</PageTitle>

<h1 class="title">Справочники</h1>
<div class="divider"></div>

<section>
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Пол'">Пол</button>
        </div>
        <div class=col>
                <button class="item">Житель</button>
        </div>
        <div class=col>
                <button class="item">Источники оплаты медицинской помощи (Виды оплаты)</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Кем направлен'">Кем направлен</button>
        </div>


        <div class=col>
                <button class="item">Порядок поступления</button>
        </div>
        <div class=col>
                <button class="item">Решение судьи по ст.35 (локальный)</button>
        </div>
        <div class=col>
                <button class="item">Откуда поступил</button>
        </div>
        <div class=col>
                <button class="item" onclick="location.href='catalogue/simple/Цель направления'">Цель направления</button>
        </div>


        <div class=col>
                <button class="item" onclick="location.href='catalogue/MKB'">МКБ</button>
        </div>
        <div class=col>
                <button class="item"  onclick="location.href='catalogue/simple/Группы инвалидности'">Группы инвалидности</button>
        </div>

        <div class=col>
                <button class="item">Обследование на ВИЧ</button>
        </div>
        <div class=col>
                <button class="item">Причины смерти</button>
        </div>
        <div class=col>
                <button class="item">Номенклатура мед. организаций (вид принудительного лечения)</button>
        </div>
        <div class=col>
                <button class="item">Окончание принудительного лечения</button>
        </div>

        <div class=col>
                <button class="item">Виды амбулаторного наблюдения</button>
        </div>
        <div class=col>
                <button class="item">Образование</button>
        </div>
        <div class=col>
                <button class="item">Источник средств существования (ОКИН 43)</button>
        </div>
        <div class=col>
                <button class="item">Проживание (ОКИН 10)</button>
        </div>

        <div class=col>
                <button class="item">Условия проживания (ОКИН 202)</button>
        </div>
        <div class=col>
                <button class="item">Исходы заболеваний</button>
        </div>
        <div class=col>
                <button class="item">Перечень психоактивных веществ</button>
        </div>
        <div class=col>
                <button class="item">Виды психоактивных веществ</button>
        </div>

         <div class=col>
                <button class="item">Полученный вид наркологической помощи в данном учреждении</button>
        </div>
    </div>
</section>

<Footer></Footer>
