.item {
    width:100%;
    height:130px;
    background-color: revert;
    border:0px;
    border-radius:10px;
}

button:hover {
 background-color: gainsboro; 
}

.title {
    text-align: center;
}

.divider {
    height: 30px;
}
