@page "/"
@inject NavigationManager MyNavigationManager

<p style="height:300px"></p>

<div class="m-auto form-signin">
  @*<p style="height:100px"></p>*@
  <!--todo сделать выравнивание по центру-->
    <h1 class="h3 mb-3 fw-normal" style="text-align:center">Мед. статистик</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" @bind=@userName>
      <label for="floatingInput">логин</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">пароль</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> запомнить меня
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="window.location.href = '@ChangeUser()';">Войти</button>
</div>

@code {
    string userName = "";
    string ChangeUser()
    {
        if(userName != "admin")
        {
            userName = "";
            return MyNavigationManager.BaseUri + "statisticalMap";
        }
        else
        {
            userName = "";
            return MyNavigationManager.BaseUri + "catalogue";
        }    
    }
}
