@page "/login"
@layout LoginLayout
@inherits LoginModel
@using MedicalStatistician.DAL.Repositories.Base


<EditForm Model="@LoginData" OnValidSubmit="LoginAsync">
    <h2 class="text-center">Система стат. учета</h2>
    <p><input id="username" placeholder="логин" @bind-value="LoginData.UserName" class="form-control" /></p>
    <p><input type="password" id="password" placeholder="пароль" @bind-value="LoginData.Password" class="form-control" /></p>
    <div class="checkbox mb-3">
      <label style="padding:5px">
        <input type="checkbox" style="transform: scale(1.5);"> запомнить меня
      </label>
    </div>
    <p><button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button></p>
    <DataAnnotationsValidator/>
    <ValidationSummary/>
</EditForm>

