@page "/statisticalMap"

<PageTitle>Стат. карта</PageTitle>



<div class="text-center">
    <h3>Статистическая карта</h3>
    <h4>выбывшего из психиатрического (наркологического) стационара</h4>
</div>

<p>
    <label class="name-text">Фамилия</label>
    <input class="name-input" />
</p>
<p>
    <label class="name-text">Имя</label>
    <input class="name-input" />
</p>
<p>
    <label class="name-text">Отчество</label>
    <input class="name-input" />
</p>

<section>
    <div class="row">
        <div class="col-4 border form-padding">
            <p>
                <label class="document-text">Пол</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">мужской</option>
                    <option value="">женский</option>
                </select>
            </p>
            <p>
                <label class="document-text">Житель</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">города</option>
                    <option value="">села</option>
                </select>
            </p>           
            <p>
                <label  class="document-text">Дата рождения</label>
                <input type="date" class="document-input">
            </p>
            <p>
                <label class="document-text">Вид оплаты</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">бюджеты всех уровней</option>
                    <option value="">обязательное мед. страхование</option>
                    <option value="">добровольное мед. страхование</option>
                    <option value="">платные мед. услуги</option>
                    <option value="">прочее</option>
                </select>
                <!--Типа справочник (нет)-->
                @*<select @bind=@str>
                    <option value="">Select a car</option>
                    <option value="audi">Audi</option>
                    <option value="jeep">Jeep</option>
                    <option value="opel">Opel</option>
                    <option value="saab">Saab</option>
                    <option value="volvo">Volvo</option>
                </select>*@
                <!--Конец сего мракобесия-->
            </p>
            <p>Страховой полис:</p>
            <p>серия <input class="insurance-serie"/> номер <input  class="insurance-number"/></p>
            <p>
                <label class="document-text">Номер стат. карты</label>
                <input class="document-input"/>
            </p>
            <p>
                <label class="document-text">Мед.карта стац. б-го</label>
                <input class="document-input"/>
            </p>
            <p>
                <label class="document-text">Номер отделения</label>
                <input class="document-input">
            </p>
            <p>
                <label class="document-text">Дата поступления</label>
                <input type="date" class="document-input">
            </p>
            <p>
                <label class="document-text">Дата открытия бол-го листа</label>
                <input type="date" class="document-input">
            </p>
            <p>
                <label class="document-text">Дата закрытия бол-го листа</label>
                <input type="date" class="document-input">
            </p>
        </div>
        <div class="col-4 border form-padding">
            <p>
                <label class="document-text">Кем направлен</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">псих. дисп. (отд. кабинетом)</option>
                    <option value="">наркол. дисп. (отд. кабинетом)</option>
                    <option value="">психотерапевтом</option>
                    <option value="">врачом поликлиники</option>
                    <option value="">врачом скорой мед. помощи</option>
                    <option value="">психиатром (наркологом)</option>
                    <option value="">другими врачами</option>
                    <option value="">судом</option>
                    <option value="">самостоятельно</option>
                    <option value="">прочее</option>
                </select>
            </p>
            <p>
                <label class="document-text">Порядок поступления</label> 
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">добровольное</option>
                    <option value="">недобр. в соотв. со ст.29</option>
                    <option value="">согласия не требуется</option>
                </select>
            </p>
            <p>
                <label class="document-text">Решение судьи по ст.35</label> 
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">получено</option>
                    <option value="">отказано</option>
                    <option value="">не требуется</option>
                    <option value="">прочее</option>
                </select>
            </p>
            <p>
                <label class="document-text">Откуда поступил</label> 
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">из дома</option>
                    <option value="">переведен из псих. стационара</option>
                    <option value="">переведен из нарк. стационара</option>
                    <option value="">переведен из стац. другого профиля</option>
                    <option value="">из дневного псих.(нарк.) стац.</option>
                    <option value="">прочее</option>
                </select>
            </p>
            <p>
                <label class="document-text">Цель направления</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">лечение</option>
                    <option value="">реабилитация</option>
                    <option value="">принудительное лечение</option>
                    <option value="">судебная экспертиза</option>
                    <option value="">военная экспертиза</option>
                    <option value="">трудовая экспертиза</option>
                    <option value="">наркологическая экспертиза</option>
                    <option value="">др. виды экспертиз</option>
                    <option value="">др. цели направления</option>
                </select>
            </p>
            <p>Диагноз направившего учреждения </p>
                <textarea></textarea>
             <p>
                <label class="document-text">Код по МКБ-10</label>
                <input class="document-input"/>
            </p>
        </div>
        <div class="col-4 border form-padding">
            <p>Заключительный диагноз</p>
                 <textarea></textarea>
            <p>
                <label class="document-text">Код по МКБ-10</label>
                <input class="document-input"/>
            </p>
            <p>
                <label class="document-text">Основной код (+) по МКБ-10</label> 
                <input class="document-input"/>
            </p>
            <p>
                <label class="document-text">Инвалидность при выписке по псих. заболеванию</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">1 группа инвалидности</option>
                    <option value="">2 группа инвалидности</option>
                    <option value="">3 группа инвалидности</option>
                    <option value="">ребенок инвалид</option>
                    <option value="">не инвалид</option>
                </select>
            </p>
            <p>
                <label class="document-text">Обследование больного на ВИЧ</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">выявлен впервые в жизни</option>
                    <option value="">выявлен ранее</option>
                    <option value="">ВИЧ не выявлен</option>
                    <option value="">не обследован</option>
                </select>
            </p>
            <p>
                <label class="document-text">Выбыл</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">домой</option>
                    <option value="">в психиатрический стационар</option>
                    <option value="">в наркологический стационар</option>
                    <option value="">в непсихиатрический стационар</option>
                    <option value="">в дневной псих. стационар</option>
                    <option value="">в стац.учр.соц.обслуживания для взрослых</option>
                    <option value="">в стац.учр.соц.обслуживания для детей</option>
                    <option value="">не выбывал на конец года</option>
                    <option value="">умер</option>
                    <option value="">прочее</option>
                </select>
            </p>
            <p>
                <label class="document-text">Смерть наступила</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">от психического заболевания</option>
                    <option value="">от соматического заболевания</option>
                    <option value="">самоубийство</option>
                    <option value="">несчастный случай</option>
                    <option value="">прочие причины</option>
                </select>
            </p>
            <p>Основная причина смерти</p>
                 <textarea></textarea>
             <p>
                <label class="document-text">Код по МКБ-10</label>
                <input class="document-input"/>
            </p>
        </div>
    </div>
</section>


<p class="text-center">Заполняется на больного, находившегося на принудитеьлном лечении в данном стационаре</p>
<div class="table-responsive">

        <label class="fw-bolder">Отметки о начале, окончании и изменении вида принудительного лечения </label>
        <div class="object-right">
            <button class="btn btn-primary oi oi-plus" @onclick=Add></button>
            <button class="btn btn-primary oi oi-minus" @onclick=Sub></button>
        </div>   

    <section>
        <table class="table table-bordered">
        
            <thead class="thead-light text-center">
                <tr>
                    <th colspan="2" class="col-2">Решение суда о начале принудительного лечения</th>
                    <th colspan="6" class="col-8">Решение суда об изменении (продлении) принудительного лечения</th>
                    <th class="col-2">Решение суда об окончании принудительного лечения</th>
                </tr>
                <tr>
                    <th class="col-1">Дата</th>
                    <th class="col-1 table-type-head">Вид</th>

                    <th class="col-1">Дата</th>
                    <th class="col-1 table-type-head">Вид</th>
                    <th class="col-1">Дата</th>
                    <th class="col-1 table-type-head">Вид</th>
                    <th class="col-1">Дата</th>
                    <th class="col-1 table-type-head">Вид</th>

                    <th class="col-2">Дата</th>
                </tr>           
            </thead>
            <tbody>
                @for (int i = 0; i < size; i++)
                {
                    <tr>
                        <td><input type="date" class="object-table"/></td>
                        <td>
                            <select class="object-table">
                                <option value="">(не выбрано)</option>
                                <option value="">амбулаторное</option>
                                <option value="">в псих.стац. общего типа</option>
                                <option value="">в псих.стац. спец. типа</option>
                                <option value="">спец типа с интенсивным наблюдением</option>                          
                            </select>
                        </td>

                        <td><input type="date" class="object-table"/></td>
                        <td>
                            <select class="object-table">
                                <option value="">(не выбрано)</option>
                                <option value="">амбулаторное</option>
                                <option value="">в псих.стац. общего типа</option>
                                <option value="">в псих.стац. спец. типа</option>
                                <option value="">спец типа с интенсивным наблюдением</option>                          
                            </select>
                        </td>
                        <td><input type="date" class="object-table"/></td>
                        <td>
                            <select class="object-table">
                                <option value="">(не выбрано)</option>
                                <option value="">амбулаторное</option>
                                <option value="">в псих.стац. общего типа</option>
                                <option value="">в псих.стац. спец. типа</option>
                                <option value="">спец типа с интенсивным наблюдением</option>                          
                            </select>
                        </td>
                        <td><input type="date" class="object-table"/></td>
                        <td>
                            <select class="object-table">
                                <option value="">(не выбрано)</option>
                                <option value="">амбулаторное</option>
                                <option value="">в псих.стац. общего типа</option>
                                <option value="">в псих.стац. спец. типа</option>
                                <option value="">спец типа с интенсивным наблюдением</option>                          
                            </select>
                        </td>

                        <td><input type="date" class="object-table"/></td>
            
                    </tr>
                }
            </tbody>
        
        </table>
    </section>
</div>

<!--Пункты 29 и 30-->
<p>
    <label class="compulsory-treatment-text">В случае окончания принудительного лечения</label>
    <select class="compulsory-treatment-input">
        <option value="">(не выбрано)</option>
        <option value="">выбыл из стационара</option>
        <option value="">остался на долечивании в стационаре</option>                         
    </select>
</p>
<p>
    <label class="compulsory-treatment-text">Дата окончания принудительного лечения</label>
    <input type="date" class="compulsory-treatment-input">
</p>

<div class="divider"></div>
<h5 class="text-center">Дополнительные сведения о больном</h5>
<section>
    <div class="row">
        <div class="col-4 border form-padding">
            <p>
                <label class="document-text">Дата начала заболевания</label>
                <input type="date" class="document-input">
            </p>
            <p>
                <label class="document-text">Дата обращения к психиатру (наркологу) впервые в жизни</label>
                <input type="date" class="document-input">
            </p>
            <p>
                <label class="document-text">Вид амбулаторного наблюдения</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">профилактивное наблюдение</option>
                    <option value="">диспансерное наблюдение</option>
                    <option value="">активное диспансерное набл.</option>
                    <option value="">амбулаторное принуд. лечение</option>
                    <option value="">обязательное лечение</option>
                    <option value="">прочие виды амбул. помощи</option>
                    <option value="">не оказывается</option>
                    <option value="">не известно</option>
                </select>
            </p>
            <p>
                <label class="document-text">Дата предыдущей выписки из психиатрич. или наркологич. стац.</label>
                <input type="date" class="document-input">
            </p>
            <p>
                <label class="document-text">Число дней работы в ЛТМ</label>
                <input class="document-input"/></p>
            <p>Число дней лечебных отпусков (за период госпитализации)</p>
            <p>
                <label>дней <input class="vacation-days"/> отпусков <input class="vacation-days"/></label>
            </p>
        </div>
        <div class="col-4 border form-padding">
            <p>Сопутствующее психическое (наркологическое) заболевание</p>
                <textarea></textarea>
            <p>
                <label class="document-text">Код по МКБ-10 F</label>
                <input class="document-input"/></p>
            <p>Сопутствующее соматическое заболевание</p>
            <p> <label class="document-text">Код по МКБ-10</label>
                <input class="document-input"/>
            </p>
            <p>
                <label class="document-text">Инвалидность по общему заболеванию</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">1 группа инвалидности</option>
                    <option value="">2 группа инвалидности</option>
                    <option value="">3 группа инвалидности</option>
                    <option value="">ребенок инвалид</option>
                    <option value="">не инвалид</option>
                </select>
            </p>
            <p>
                <label class="document-text">Инвалид ВОВ</label>
                <input type="checkbox">
            </p>
            <p>
                <label class="document-text">Участник ВОВ</label>
                <input type="checkbox">
            </p>
            <p>
                <label class="document-text">Число законченных классов</label>
                <input class="document-input">
            </p>
            <p>
                <label class="document-text">Образование</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">спец корр. учреждение</option>
                    <option value="">начальное профессиональное</option>
                    <option value="">среднее профессиональное</option>
                    <option value="">незакон. высшее професс.</option>
                    <option value="">высшее профессионалшьное</option>
                    <option value="">прочее</option>
                </select>
            </p>          
        </div>
        <div class="col-4 border form-padding">
            <p>
                <label class="document-text">Учится</label>
                <input type="checkbox">
            </p>
            <p>
                <label class="document-text">Источник средств существования</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">рабочий</option>
                    <option value="">служащий</option>
                    <option value="">пенсия по возрасту</option>
                    <option value="">соц. пособие по инвалидности</option>
                    <option value="">соц. пособие по безработице</option>
                    <option value="">стипендия</option>
                    <option value="">др. виды гос. обеспечения</option>
                    <option value="">на иждевении у отд. лиц</option>
                    <option value="">прочие</option>
                </select>
            </p>
            <p>
                <label class="document-text">Проживает</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">в семье</option>
                    <option value="">один</option>
                </select>
            </p>
            <p>
                <label class="document-text">Условия проживания</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">собственный дом</option>
                    <option value="">отдельная квартира</option>
                    <option value="">коммунальная квартира</option>
                    <option value="">общежитие</option>
                    <option value="">БОМЖ</option>
                    <option value="">прочие</option>
                </select>
            </p>
            <p>
                <label class="document-text">Исход заболевания</label>
                <select class="document-input">
                    <option value="">(не выбрано)</option>
                    <option value="">выздоровление</option>
                    <option value="">улучшение</option>
                    <option value="">без изменений</option>
                    <option value="">ухудшение</option>
                </select>
            </p>
        </div>
    </div>
</section>

<div class="divider-save"></div>
<!--Кнопка сохранить-->
<div class="object-right">
    <button class="btn btn-primary" @onclick="Save">Сохранить</button>
</div>

<Footer></Footer>



@code {
    int size = 0;
    void Add() => size++;
    void Sub() => size--;
    void Save() => size += 2;   
}
