input[type=checkbox] {
    transform: scale(1.5);
}

.object-table {
    height:100%;
    width:100%;
    border:0;
}

.divider {
    height: 30px;
}

.name-text {
    width: 12%;
}

.name-input {
    width: 21%;
}

.document-text {
    width: 36%;
}

.document-input {
    width: 62%;
}

.insurance-serie {
    width: 20%;
}

.insurance-number {
    width: 30%;
}

.vacation-days {
    width: 20%;
}

textarea {
    width: 98%;
}

.table-type-head {
    padding-left: 80px;
    padding-right: 80px;
}

.form-padding {
    padding: 1%;
}

.divider-save {
    height: 10px;
}

.object-right {
    text-align: right;
}

.compulsory-treatment-text {
    width: 22%;
}

.compulsory-treatment-input {
    width: 18%;
}
