@page "/catalogue"

<PageTitle>Справочники</PageTitle>

<h1 style="text-align:center">Справочники</h1>
<div style="height: 30px;"></div>

<section>
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
        <div class=col>
                <button class="item" onclick="location.href='sexCatalog'">Справочник 1</button>
        </div>
        <div class=col>
                <button class="item">Справочник 2</button>
        </div>
        <div class=col>
                <button class="item">Справочник 3</button>
        </div>
        <div class=col>
                <button class="item">Справочник 4</button>
        </div>


        <div class=col>
                <button class="item">Справочник 5</button>
        </div>
        <div class=col>
                <button class="item">Справочник 6</button>
        </div>
        <div class=col>
                <button class="item">Справочник 7</button>
        </div>
        <div class=col>
                <button class="item">Справочник 8</button>
        </div>


        <div class=col>
                <button class="item">Справочник 9</button>
        </div>
        <div class=col>
                <button class="item">Справочник 10</button>
        </div>
        <div class=col>
                <button class="item">Справочник 11</button>
        </div>
        <div class=col>
                <button class="item">Справочник 12</button>
        </div>

        <div class=col>
                <button class="item">Справочник 13</button>
        </div>
        <div class=col>
                <button class="item">Справочник 14</button>
        </div>
        <div class=col>
                <button class="item">Справочник 15</button>
        </div>
        <div class=col>
                <button class="item">Справочник 16</button>
        </div>

        <div class=col>
                <button class="item">Справочник 17</button>
        </div>
        <div class=col>
                <button class="item">Справочник 18</button>
        </div>
        <div class=col>
                <button class="item">Справочник 19</button>
        </div>
        <div class=col>
                <button class="item">Справочник 20</button>
        </div>

        <div class=col>
                <button class="item">Справочник 21</button>
        </div>
        <div class=col>
                <button class="item">Справочник 22</button>
        </div>
        <div class=col>
                <button class="item">Справочник 23</button>
        </div>
        <div class=col>
                <button class="item">Справочник 24</button>
        </div>
    </div>
</section>

<Footer></Footer>


