@page "/catalogue"

<PageTitle>Справочники</PageTitle>

<h1 style="text-align:center">Справочники</h1>
<div style="height: 30px;"></div>

<section>
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
        <div class=col>
                <button class="item" onclick="location.href='sexCatalog'">Пол</button>
        </div>
        <div class=col>
                <button class="item">Место жительства</button>
        </div>
        <div class=col>
                <button class="item">Место жительства (ОКАТО)</button>
        </div>
        <div class=col>
                <button class="item">Виды оплаты</button>
        </div>


        <div class=col>
                <button class="item">Страховые компании</button>
        </div>
        <div class=col>
                <button class="item">Кем направлен</button>
        </div>
        <div class=col>
                <button class="item">Порядок поступления</button>
        </div>
        <div class=col>
                <button class="item">Решение судьи по ст.35</button>
        </div>


        <div class=col>
                <button class="item">Откуда поступил</button>
        </div>
        <div class=col>
                <button class="item">Цель направления</button>
        </div>
        <div class=col>
                <button class="item">МКБ</button>
        </div>
        <div class=col>
                <button class="item">Инвалидность</button>
        </div>

        <div class=col>
                <button class="item">Обследование на ВИЧ</button>
        </div>
        <div class=col>
                <button class="item">Причины смерти</button>
        </div>
        <div class=col>
                <button class="item">Виды принудительного лечения</button>
        </div>
        <div class=col>
                <button class="item">Окончание принудительного лечения</button>
        </div>

        <div class=col>
                <button class="item">Виды амбулаторного наблюдения</button>
        </div>
        <div class=col>
                <button class="item">Образование</button>
        </div>
        <div class=col>
                <button class="item">Источник средств существования (ОКИН 43)</button>
        </div>
        <div class=col>
                <button class="item">Проживание (ОКИН 10)</button>
        </div>

        <div class=col>
                <button class="item">Условия проживания (ОКИН 202)</button>
        </div>
        <div class=col>
                <button class="item">Исход заболевания</button>
        </div>
        <div class=col>
                <button class="item">Психоактивные вещества</button>
        </div>
        <div class=col>
                <button class="item">Виды психоактивных веществ</button>
        </div>

         <div class=col>
                <button class="item">Полученный вид наркологической помощи в данном учреждении</button>
        </div>
    </div>
</section>

<Footer></Footer>


